<h1>Profile Page</h1>
  <p>Name: <%= current_user.name %><br><br>
    Email: <%= current_user.email %><br><br>
    Bio: <%= current_user.bio %><br><br>
    Image: <img src="<%= current_user.image_url %>" width="125px" height="125px" alt="<%= current_user.name %>">
  </p>
