<!DOCTYPE html>
<html>
  <head>
    <title>DeviseAssignmentScott</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div = "navbar">
      <ul>
        <li>
          <%= link_to('profile', root_url) %>
        </li>
      <% if user_signed_in? %>
        <li>
      <%= link_to('edit profile', edit_user_registration_url) %>
        </li>
        <li>
      <%= link_to('sign out', destroy_user_session_url, method: :delete) %>
        </li>
        <li>
          Hello <%= current_user.name %>! Your email: <%= current_user.email %>
        </li>


      <% else %>
        <li>
          <%= link_to('sign in', new_user_session_url) %>
        </li>
        <li>
          <%= link_to('sign up', new_user_registration_url) %>
        </li>
      <% end %>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
